body {
  background-image: url("c1.jpg") ;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  zoom:normal;

}
header {position: sticky;
		    top: 0;
        background-image: url("a.jpg");
        width: 100%;
        height: 10%;
}

h1 {

  text-align: center;
  font-size: 400%;
  font-weight: bold;
  font-style: normal;
  font-family: fantasy;
  color: 	#8B4513 ;


}






p {
text-align: center;
font-size: 200%;
color:rgba(170, 40, 190, 0.9);
}

#nav ul {
  list-style: none;
  background-color: rgba(30, 40, 80, 0.5);
  text-align: center;
  padding: 10px;
  margin: 15px;
}
#nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  height: 25%;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#nav a {
  text-decoration: none;
  color: #fff;
  display: run-in;
  transition: .3s background-color;
}

#nav a:hover {
  background-color: rgba(30, 40, 80, 0.8);
}

#nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}





#produits {
  display: inline-block;

}


#produits li{
  background-color: white;
  border: solid;
  border-color: black;
}




#produits p{
  background-color: white;
}


footer{
  	    	position:relative;
          background-color: rgba(0, 0, 50, 0.5);
          width: 100%;
  	    	height: 10%;


  }


  footer a{
  font-size: 150%;
  font-family: cursive;
  color: white;

  }

  footer ul{
  display: inline-block;

  }
